<div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6 text-center">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
          alt="logo">
        <h4 class="mt-1 mb-5 pb-1">Welcome to Minimal Chat</h4>
      </div>
    </div>
    <div class="row justify-content-center mt-3">
      <div class="col-md-6 text-center">
        <button class="btn btn-primary me-sm-2" routerLink="/login">Login</button>
        <button class="btn btn-success" routerLink="/register">Register</button>
      </div>
    </div>
  </div>