.gif-panel {
    position: absolute; 
    top: -790%; 
    right: 12px;
    width: 300px;
    height: 280px;
    
}
.gif-container {
    width: fit-content;
    height: fit-content;
    padding: 10px;
    background: rgb(43, 43, 43);
    justify-content: center;
}
.gif-body {
    width: 300px;
    height: 280px;
}
.gifs {
    padding: 0;
}
.gif-image {
    width: 126px;
    height: 120px;
}

.scroll-container::-webkit-scrollbar {
    width: 5px; /* Adjust the width as needed */
  }

.search-input, .input-group-text {
    box-shadow: none; 
    border: none;
    border-radius: 5px 5px 5px 5px;
}
