  <div class="scroll-container user-container" data-mdb-perfect-scrollbar="true">
    <ul class="list-unstyled mb-0" *ngFor="let user of users; let i = index">
      <li class="p-2 border-bottom">
        <a (click)="onUserClick(user.userId, user.name, user.statusMessage)" [ngClass]="{'selected-user': user.userId === selectedUserId}" class="d-flex justify-content-between">
          <div class="d-flex flex-row">
            <div class="user-initials fw-bold" [style.backgroundColor]="getRandomColor(i)">
              {{ getInitials(user.name) }}
              <span class="badge bg-success badge-dot"></span>
            </div>
            <div class="user-name">
              <p class="fw-bold mb-0">{{user.name}}</p>
              <p class="small text-truncate text-muted" [attr.title]="user.email">{{user.email}}</p>
            </div>
          </div>
          <div class="pt-1">
            <p><span *ngIf="user.messageCount > 0" class="badge bg-danger rounded-pill float-end">{{user.messageCount}}</span></p>
          </div>
        </a>
      </li>
    </ul>
  </div>