#chat3 .form-control {
    border-color: transparent;
    }
    
    #chat3 .form-control:focus {
    border-color: transparent;
    box-shadow: inset 0px 0px 0px 1px transparent;
    }
    
    .badge-dot {
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-left: 2.9rem;
    margin-top: -.75rem;
    }

    .scroll-container {
        position: relative;
        height: 400px;
        overflow: hidden; /* Hide the default scrollbars */
      }
    
      .scroll-container[data-mdb-perfect-scrollbar="true"] {
        overflow: auto; /* Enable the custom scrollbar */
      }

      .user-initials {
        width: 40px;
        height: 40px;
        background-color: #00008B; /* Dark blue background color */
        color: #ffffff; /* White text color */
        font-size: 18px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2px;
      }

      .user-name {
        margin-left: 10px;
      }