.card {
    margin-top: 80px;
    margin-left: 20px;
    border: none;
    margin-bottom: 30px;
    border-radius: 25px;
}

#login {
    min-width: 100px;
    margin-left: auto;
    text-decoration: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}


.form-inline label {
    padding-left: 10px;
    margin: 0;
    cursor: pointer;
}

.btn {
    border-radius: 5px;
}

.panel {
    min-height: 380px;
    box-shadow: 20px 20px 80px rgb(218, 218, 218);
    border-radius: 12px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.input-field {
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ddd;
    color: #4343ff;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    background-color: white !important;
    background-image: none !important;
    color: inherit !important;
}

.input-field.error {
    border: 1px solid red;
    color: red;
}

input[type='text'],
input[type='password'] {
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;

}

.fa-eye-slash.btn {
    border: none;
    outline: none;
    box-shadow: none;
}

.bordert {
    border-top: 1px solid #aaa;
    position: relative;
}

.bordert:after {
    content: "or connect with";
    position: absolute;
    top: -13px;
    left: 36%;
    background-color: #fff;
    padding: 0 8px;
}

.input-field.ng-invalid.ng-touched {
    border: 1px solid red;
    color: red;
}

small {
    color: red;
}



.badge-dot {
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-left: 2.9rem;
    margin-top: -.75rem;
}



.user-initials {
    width: 40px;
    height: 40px;
    background-color: #4343ff;
    color: #ffffff;
    /* White text color */
    font-size: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2px;
}

.user-name {
    margin-left: 10px;
}

.scroll-container {
    position: relative;
    height: 400px;
    overflow: hidden;
    /* Hide the default scrollbars */
}

.scroll-container[data-mdb-perfect-scrollbar="true"] {
    overflow: auto;
    /* Enable the custom scrollbar */
}

/* Hide the default scrollbar */
.scroll-container::-webkit-scrollbar {
    width: 2px; /* Adjust the width as needed */
  }
  
  /* Style the scrollbar track */
  .scroll-container::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Style the scrollbar thumb (the draggable part) */
  .scroll-container::-webkit-scrollbar-thumb {
    background: #bebebe; /* Change the color as desired */
    border-radius: 2px; /* Adjust the radius as needed */
  }
  
  /* Make the scrollbar thumb hover state more visible */
  .scroll-container::-webkit-scrollbar-thumb:hover {
    background: #c4c4c4; /* Change the color as desired */
  }