<div class="container">
    <div class="card m-5 p-3">
        <div class="card-body">
            <form [formGroup]="timeframeForm">
                <div class="form-group">
                  <label for="timeframe">Select Timeframe:</label>
                  <select id="timeframe" formControlName="timeframe" class="form-control" (change)="selectTimeframe()">
                    <option value="custom">Custom</option>
                    <option value="5">Last 5 mins</option>
                    <option value="10">Last 10 mins</option>
                    <option value="30">Last 30 mins</option>
                  </select>
                </div>
              </form>
            
              <!-- Custom Time Range -->
              <div *ngIf="selectedTimeframe === 'custom'">
                <h4>Custom Time Range</h4>
                <!-- <ngb-timepicker [(ngModel)]="customTime"></ngb-timepicker> -->
                <button (click)="selectTimeframe()">Apply Custom Time</button>
              </div>
              <hr>
            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Timestamp</th>
                    <th>IpAddress</th>
                    <th>Request Body</th>
                    <th>Username</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let log of logs">
                    <td>{{ log.id }}</td>
                    <td>{{ log.timestamp }}</td>
                    <td>{{ log.ipAddress }}</td>
                    <td>{{ log.requestBody }}</td>
                    <td>{{ log.username }}</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>